# Lighting Configs

[delayed_gcode START_ME_UP]
# Run on startup
initial_duration: 1
gcode:
    # Aziz, LIGHT!
    #SET_LIGHT
    WLED_ON STRIP=rgb

[output_pin enclosure_light]
pin: PB10
pwm:true
hardware_pwm: true
shutdown_value: 0
value: 0
cycle_time: 0.01

# Lighting Macros

# Startup macro for main lights to soft on up to 50% brightness

[gcode_macro SET_LIGHT]
gcode:
    {% set current_value = printer["output_pin enclosure_light"].value|float %}
    {% set wanted_value = params.VALUE|default(-1.0)|float %}

    # Value not provided, figure out what we should do
    {% if wanted_value == -1.0 %}
        {% if current_value == 0.0 %}
            {% set wanted_value = 0.5 %}
        {% else %}
            {% set wanted_value = 0.0 %}
        {% endif %}
    {% endif %}	

    {% set int_wanted = (wanted_value * 100) | int %}
    {% set int_current = (current_value * 100) | int %}

    {% if wanted_value > current_value %}
        {% for v in range(int_current, int_wanted + 1) %}
            SET_PIN PIN=enclosure_light VALUE={v/100|float}
        {% endfor %}
    {% else %}
        {% for v in range(int_current, int_wanted, -1) %}
            SET_PIN PIN=enclosure_light VALUE={v/100|float}
        {% endfor %}
        SET_PIN PIN=enclosure_light VALUE={wanted_value}
    {% endif %}   

[gcode_macro LEDOFF]
gcode:  
    SET_LIGHT VALUE=0

[gcode_macro LEDMIN]
gcode:  
    SET_LIGHT VALUE=0.15

[gcode_macro LEDMAX]
gcode:  
    SET_LIGHT VALUE=1

# wLED Control Macros

[gcode_macro WLED_ON]
#description: Turn WLED strip on using optional preset and resets led colors
gcode:
  {% set strip = params.STRIP|string %}
  {% set preset = params.PRESET|default(1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=True,
                             preset=preset)}

[gcode_macro WLED_OFF]
#description: Turn WLED strip off
gcode:
  {% set strip = params.STRIP|string %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=False)}

[gcode_macro SET_WLED]
#description: SET_LED like functionality for WLED, applies to all active segments
gcode:
    {% set strip = params.STRIP|string %}
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set index = params.INDEX|default(-1)|int %}
    {% set transmit = params.TRANSMIT|default(1)|int %}

    {action_call_remote_method("set_wled",
                               strip=strip,
                               red=red, green=green, blue=blue, white=white,
                               index=index, transmit=transmit)}